<ion-view view-title="Mapa" hide-back-button="true">
	<ion-nav-buttons side="primary">
		<a href="#/tab/show/travels/{{travelId}}/{{stepId}}" class="button button-clear icon ion-ios-gear"></a>
		<a href="#/tab" class="button button-clear icon ion-close"></a>
	</ion-nav-buttons>
	<ion-content scroll="false">
		<div class="scroll">
			<map on-create="mapCreated(map)"></map>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-stable">
		<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">moja pozycja</a>
		<!--<a ng-click="calcRoute()" class="button button-icon icon ion-navigate">trasa</a>-->
	</ion-footer-bar>
</ion-view>