<ion-view view-title="Dodaj">
  <ion-content>
	<div class="list">

	  <a class="item item-icon-left item-icon-right" href="#/tab/add/place">
		<i class="icon ion-ios-bookmarks-outline"></i>
		Nowe miejsce
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  <a class="item item-icon-left item-icon-right" href="#/tab/note/travels">
		<i class="icon ion-compose"></i>
		Wpis do podróży
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  <a class="item item-icon-left item-icon-right" href="#/tab/photo/travels">
		<i class="icon ion-image"></i>
		Zdjęcie do podróży
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	</div>
  </ion-content>
</ion-view>
