<ion-view view-title="MAJTUR">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Użytkownik</div>
      <div class="item item-body">
        <div>
          Witaj {{username}}
			<!--<a href="#/map" class="button icon-right ion-chevron-right button-calm">NAWIGACJA</a>-->
        </div>
      </div>
    </div>
    <!--<div class="list card">
      <div class="item item-divider">zdjecia</div>
      <div class="item item-body">
        <div>
			<p>cordova : {{cd}} </p>
			<p>target: {{targetPath}}</p>
			<p>url : {{url}}</p>
			<p>res:{{res}}</p>
			<p>progrss:{{downloadProgress}}</p>
			<p>error : {{error}}</p>
			<p>last photo : {{lastPhoto}}</p>
			<p>url : {{url}}</p>
			<button class="button button-clear icon ion-ios-gear" ng-click="getPhoto()">zrob zdjecie</button>
			<button class="button button-clear icon ion-ios-gear" ng-click="upload()">upload zdjecie</button>			
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
	  <div>{{data}}</div>
        <div>
          <a href="#/login" class="button icon-right ion-chevron-right button-calm">LOGOWANIE</a>
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
